# ============================
# Android Studio / IntelliJ
# ============================
.idea/
*.iml
*.ipr
*.iws

# ============================
# Build
# ============================
/build
/app/build
/.gradle
/local.properties

# ============================
# Log & Errors
# ============================
*.log
.kotlinc/
.kotlin/
.kotin/errors/

# ============================
# Firebase
# ============================
google-services.json

# ============================
# MacOS
# ============================
.DS_Store

# ============================
# Gradle
# ============================
.gradle/
gradle-app.setting
gradlew
gradlew.bat

# ============================
# JetBrains Cache
# ============================
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/inspectionProfiles

# ============================
# Misc
# ============================
captures/
outputs/
navigation.json
